body {
  font-family: "Darker Grotesque", sans-serif;
  color: #001685;
  display: flex;
  width: 100hw;
  padding: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  height: 200px;
  align-items: center;
  align-self: stretch;
}

.brand {
  display: flex;
  width: 400px;
  padding: 12px 48px;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  color: #001685;
  font-family: "Darker Grotesque";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #E6E6E6;
}

.line_vertical {
  width: 2px;
  height: auto;
  background: #E6E6E6;
  align-self: stretch;
}

.content {
  display: flex;
  padding: 60px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}

.introduction {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 60px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  color: #141414;
  font-family: "Darker Grotesque", sans-serif;
}
.copy p:nth-of-type(1) {
  align-self: stretch;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
}
.copy p:nth-of-type(2) {
  align-self: stretch;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
}

.cta {
  display: flex;
  height: 120px;
  align-items: center;
  align-self: stretch;
}

.hero_image {
  display: flex;
  align-items: center;
}

.self_portrait {
  width: 600px;
  height: 600px;
  border-radius: 0px;
  background: url("../img/bibek_DT_adhyayan.jpg") lightgray 50%/cover no-repeat;
  filter: grayscale(0.9);
  border-left: 2px solid #E6E6E6;
}
.self_portrait:hover {
  filter: grayscale(0);
}

.footer_links {
  display: flex;
  height: 200px;
  align-items: center;
  align-self: stretch;
}

.footer_info {
  background: #E6E6E6;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: none;
  display: flex;
  padding: 60px 0px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
}

/* ---------LINK STYLES-------- */
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-top: 2px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
  color: #141414;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.link:hover {
  text-decoration-line: underline;
  border-bottom: 2px solid #141414;
}
.link:active {
  text-decoration-line: underline;
  border-bottom: 2px solid #001685;
  background: #001685;
  color: #F4F4F4;
}

.ext_link {
  text-decoration-line: underline;
  font-weight: 600;
}
.ext_link:hover {
  color: #80862D;
}

/*------------MEDIA QUERRY----------*/
@media screen and (max-width: 1440px) {
  .content {
    padding: 60px;
    gap: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .content {
    padding: 60px;
    gap: 60px;
  }
  .copy p:nth-of-type(1) {
    font-size: 60px;
  }
  .cta {
    height: 60px;
  }
  .self_portrait {
    width: 400px;
    height: 400px;
  }
  .footer_links {
    height: 60px;
  }
  .footer_info {
    padding: 20px 0px;
    font-size: 20px;
  }
  .link {
    font-size: 20px;
  }
}
@media screen and (max-width: 980px) {
  .header {
    height: 120px;
  }
  .brand {
    width: 320px;
  }
  .introduction {
    gap: 32px;
  }
  .content {
    padding: 32px;
    gap: 32px;
  }
  .copy p:nth-of-type(1) {
    font-size: 48px;
  }
  .copy p:nth-of-type(2) {
    font-size: 24px;
  }
  .cta {
    height: 60px;
  }
  .self_portrait {
    width: 360px;
    height: 360px;
  }
  .footer_links {
    height: 60px;
  }
  .footer_info {
    padding: 20px 0px;
    font-size: 20px;
  }
  .link {
    font-size: 20px;
  }
}
@media screen and (max-width: 780px) {
  .header {
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .brand {
    width: 100%;
    padding-left: 32px;
  }
  .introduction {
    flex-direction: column-reverse;
    align-items: left;
    gap: 32px;
    height: auto;
  }
  .message {
    align-self: left;
    height: auto;
    gap: 32px;
  }
  .cta {
    border-top: 2px solid #E6E6E6;
  }
  .cta .link {
    padding: 0px;
    justify-content: center;
  }
  .hero_image {
    display: flex;
    align-items: left;
  }
  .link {
    border-top: none;
    justify-content: left;
    padding: 12px 32px;
  }
  .footer_links {
    flex-direction: column;
    height: auto;
    border-top: 2px solid #E6E6E6;
  }
}/*# sourceMappingURL=styles.css.map */